*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
    margin: 0;
}
html {
    position: relative;
    min-height: 100vh;
    padding-bottom: 75px;
}
